<a href="https://colab.research.google.com/github/anushkagupta1307/IR2022_A2_27/blob/main/IR_Assignment2_Q1_PartB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Mount the data files from google drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import necessary libraries
import pydrive
import re
from nltk.corpus import stopwords
from gensim.parsing.preprocessing import remove_stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
ps = PorterStemmer()
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
import nltk
import numpy as np
import pandas as pd
#nltk library for preprocessing
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
#This method takes the Data files as input, does preprocessing steps on the data and then creates a unigram inverted index
import os
def preprocessing_indexing():
  token_dict=dict()
  doc_docID_mapping=dict()

  directory = '/content/drive/MyDrive/Humor,Hist,Media,Food'

  docID=1
  for filename in os.scandir(directory):
      flag=0
      if filename.is_file():
          ccfile = open(filename.path, "r",encoding="utf8", errors="surrogateescape")
          doc_docID_mapping[docID]=filename.path

          for aline in ccfile:
              #Preprocessing steps included- 
              # Convert to lowercase
              aline = aline.lower()
              # Remove numerics
              aline = re.sub(r'\d+','',aline)
              # Remove whitespaces
              aline = re.sub(r'[^\w\s]','', aline)
              # Remove special characters
              aline= re.sub('[@_!#$%^&*()<>?/\|}{~:]','',aline)
              aline = aline.strip()
              #Remove stopwords
              aline = remove_stopwords(aline)
              #Convert to tokens
              words = word_tokenize(aline)
          
              #Create a dictionary for the index - the dictionary has the Doc ID as the key and list of words as the value
              for w in words:
                if docID not in token_dict:
                  list1=[ps.stem(w)]
                  token_dict[docID]=(list1)
                else:
                  token_dict[docID].append(ps.stem(w))

          docID=docID+1              


  return token_dict,doc_docID_mapping

In [ ]:
token_dict,doc_docID_mapping=preprocessing_indexing()

In [ ]:
#added all words to a list
vocab_list=[]
for key, value in token_dict.items():
  for i in range(len(value)):
    vocab_list.append(value[i])

In [ ]:
#getting unique words from the list
temp_set=set(vocab_list)
vocab_list_final=list(temp_set)

**Term Frequency Weighting Scheme**

In [ ]:
#Creating an empty matrix with docids as the rows and words as the columns
temp_test_zeros=np.zeros((len(token_dict),len(vocab_list_final)))
term_frequency=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#filling the matrix to populate values with term frequency
for i in range(len(term_frequency)):
  for j in range(len(vocab_list_final)):
    token_list=token_dict[i+1]
    number_of_rep=token_list.count(vocab_list_final[j])
    total_number_words=len(token_list)
    term_frequency.at[i,vocab_list_final[j]]=float(number_of_rep/total_number_words)

In [ ]:
term_frequency

,shown,baizer,soyuz,elleri,lesssugari,vandriesen,organian,aidman,itt,convincingli,...,bland,outworld,syracus,secular,fad,tbgari,stale,clearwat,apertif,retic
0,0.003636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1129,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1130,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1132,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#convert to csv
term_frequency.to_csv('term_frequency.csv')

**TF-IDF Calculation Using TF-IDF(Part 5)**

In [ ]:
#taking query input from the user
print("Please enter the query for TF-IDF Matching")
query=input()

#pre-processing the input query
query = query.lower()
# Remove numerics
query = re.sub(r'\d+','',query)
# Remove whitespaces
query = re.sub(r'[^\w\s]','', query)
# Remove special characters
query= re.sub('[@_!#$%^&*()<>?/\|}{~:]','',query)
query = query.strip()
#Remove stopwords
query = remove_stopwords(query)
#Convert to tokens
words = word_tokenize(query)

#stemming the words and appending to the list
query_pre_processed_list_of_words=[]
for w in words:
  query_pre_processed_list_of_words.append(ps.stem(w))


#displaying all the pre-processed words in the list
print("Pre-processed list of words")
print(query_pre_processed_list_of_words)


#taversing on each document and adding the scores for the tokens present in the respective document
query_dict=dict()
for i in range(len(term_frequency)):
  doc_query_score=0
  for j in range(len(query_pre_processed_list_of_words)):
    if i not in query_dict:
      query_dict[i]=term_frequency.at[i,vocab_list_final[j]]
    else:
      query_dict[i]=query_dict[i]+term_frequency.at[i,vocab_list_final[j]]

#Getting the top five docs based on TF*IDF scores according to the user query- getting the maximum and then removing that row- then getting the next maximum
top_five_docs=[]
for i in range(5):
    maxval = max(query_dict.values())
    res = [(k, v) for k, v in query_dict.items() if v == maxval]
    del[query_dict[res[0][0]]]
    top_five_docs.append(res)

if (len(top_five_docs))>=5:
    print("Found the following top five documents ranked according to the TF IDF Score for the given query is:: ")
    print()
    for i in range(len(top_five_docs)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs[i][0][0]])
          tf_idf_at_doc=str(top_five_docs[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")
else:
    print("Found the following top "+len(top_five_docs)+" ranked documnets according to the TF IDF Score for the given query is :: ")
    print()
    for i in range(len(top_five_docs)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs[i][0][0]])
          tf_idf_at_doc=str(top_five_docs[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")

Please enter the query for TF-IDF Matching
Don't  be  squeamish  about  eating insects  as  it  is entirely uncalled for. In parts of Mexico the most nutritious food is made from the eggs of small insects found in the marshes.
Pre-processed list of words
['dont', 'squeamish', 'eat', 'insect', 'entir', 'uncal', 'part', 'mexico', 'nutriti', 'food', 'egg', 'small', 'insect', 'marsh']
Found the following top five documents ranked according to the TF IDF Score for the given query is::

details about the 1 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/mailfrag.hum
TF IDF Score for respective doc using term frequency :: 0.05587724377533295
--------------
details about the 2 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/popmach
TF IDF Score for respective doc using term frequency :: 0.031578947368421054
--------------
details about the 3 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/middle.age
TF IDF Score for respective doc using term frequency :: 0.031578947368421054
--------------
details about the 4 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/reddye.hum
TF IDF Score for respective doc using term frequency :: 0.020689655172413793
--------------
details about the 5 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/sysadmin.txt
TF IDF Score for respective doc using term frequency :: 0.009569377990430622
--------------

**Calculating IDF**

In [ ]:
#Create an empty dictionary- count_inverse to get the number of times a word exists- count of words
count_inverse=dict()
for i in range(len(vocab_list_final)):
  for j in range(len(token_dict)):
      if vocab_list_final[i] not in count_inverse:
          temp_list=token_dict[j+1]
          exist_count=temp_list.count(vocab_list_final[i])
          # checking if it is more then 0
          if exist_count > 0:
            count_inverse[vocab_list_final[i]]=1
              
      else:
        temp_list=token_dict[j+1]
        exist_count=temp_list.count(vocab_list_final[i])
        # checking if it is more then 0
        if exist_count > 0:
          count_inverse[vocab_list_final[i]]=count_inverse[vocab_list_final[i]]+1

In [ ]:
#Calculating IDF
inverted_count_inverse=dict()
for key, value in count_inverse.items():
  temp=float(float(len(doc_docID_mapping))/float(count_inverse[key]))
  inverted_count_inverse[key]=temp

In [ ]:
#Calculating IDF
import math
log_count_inverse=dict()
for key, value in inverted_count_inverse.items():
  temp=math.log2(inverted_count_inverse[key])
  log_count_inverse[key]=temp

In [ ]:
#Creating empty matrix for storing IDF value of each word
temp_test_zeros=np.zeros((1,len(vocab_list_final)))
inverse_document_frequency=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#Populate the matrix- with columns as words and a single row for IDF
for i in range(len(vocab_list_final)):
  inverse_document_frequency.at[0,vocab_list_final[i]]=log_count_inverse[vocab_list_final[i]]

In [ ]:
inverse_document_frequency

,shown,baizer,soyuz,elleri,lesssugari,vandriesen,organian,aidman,itt,convincingli,...,bland,outworld,syracus,secular,fad,tbgari,stale,clearwat,apertif,retic
0,3.487721,10.145932,10.145932,10.145932,10.145932,8.56097,10.145932,10.145932,7.338577,8.145932,...,6.445492,10.145932,8.56097,9.145932,7.338577,10.145932,6.824004,9.145932,10.145932,9.145932

In [ ]:
#Convert to csv
inverse_document_frequency.to_csv('inverse_term_frequency.csv')

**Ranking Documents On Basis of Term Frequency**

In [ ]:
import numpy as np
#Creating empty matrix for multiplicated matrix- TF*IDF
temp_test_zeros=np.zeros((len(term_frequency),len(vocab_list_final)))
term_frequency_multi=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#Populating the matrix with TF*IDF values- with rows as Docids and columns as words- same as TF
for i in range(len(term_frequency)):
  for j in range(len(vocab_list_final)):
    term_frequency_multi.at[i,vocab_list_final[j]]=term_frequency.at[i,vocab_list_final[j]]*inverse_document_frequency.at[0,vocab_list_final[j]]

In [ ]:
#Rowise sum to get the best value of TF*IDF
sum_row=term_frequency_multi.sum(axis=1)
print(sum_row)

0       3.752706
1       3.973039
2       4.001295
3       4.033046
4       3.798111
          ...
1128    3.497628
1129    4.263947
1130    3.749474
1131    4.098128
1132    4.191501
Length: 1133, dtype: float64

In [ ]:
#added the values to a dictionary
tf_idf_sum_using_termfrequecy=dict()

for i in range(len(sum_row)):
  tf_idf_sum_using_termfrequecy[i]=sum_row[i]

In [ ]:
#Getting the top five docs based on TF*IDF values- getting the maximum and then removing that row- then getting the next maximum
top_five_docs=[]
for i in range(5):
    maxval = max(tf_idf_sum_using_termfrequecy.values())
    res = [(k, v) for k, v in tf_idf_sum_using_termfrequecy.items() if v == maxval]
    del[tf_idf_sum_using_termfrequecy[res[0][0]]]
    top_five_docs.append(res)

if (len(top_five_docs))>=5:
    print("Found the following top five documents ranked according to the TF IDF Score :: ")
    print()
    for i in range(len(top_five_docs)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs[i][0][0]])
          tf_idf_at_doc=str(top_five_docs[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")
else:
    print("Found the following top "+len(top_five_docs)+" ranked documnets according to the TF IDF Score :: ")
    print()
    for i in range(len(top_five_docs)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs[i][0][0]])
          tf_idf_at_doc=str(top_five_docs[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")

Found the following top five documents ranked according to the TF IDF Score ::

details about the 1 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/japantv.txt
TF IDF Score for respective doc using term frequency :: 8.465813701323276
--------------
details about the 2 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/lp-assoc.txt
TF IDF Score for respective doc using term frequency :: 7.9762603790843
--------------
details about the 3 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/prover_w.iso
TF IDF Score for respective doc using term frequency :: 7.233163552199315
--------------
details about the 4 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/bb
TF IDF Score for respective doc using term frequency :: 7.037122375818296
--------------
details about the 5 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/some_hu.mor
TF IDF Score for respective doc using term frequency :: 6.932742616335451
--------------

**Binary Term Frequency Weightage**

In [ ]:
#Creating an empty matrix for binary term frequency weight
temp_test_zeros=np.zeros((len(token_dict),len(vocab_list_final)))
binary_term_frequency=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#This method takes the Data files as input, does preprocessing steps on the data and then creates a unigram inverted index
import os
def preprocessing_indexing_for_binary():
  binary_term_dict=dict()
  

  directory = '/content/drive/MyDrive/Humor,Hist,Media,Food'

  docID=1
  for filename in os.scandir(directory):
      flag=0
      if filename.is_file():
          ccfile = open(filename.path, "r",encoding="utf8", errors="surrogateescape")
          doc_docID_mapping[docID]=filename.path

          for aline in ccfile:
              #Preprocessing steps included- 
              # Convert to lowercase
              aline = aline.lower()
              # Remove numerics
              aline = re.sub(r'\d+','',aline)
              # Remove whitespaces
              aline = re.sub(r'[^\w\s]','', aline)
              # Remove special characters
              aline= re.sub('[@_!#$%^&*()<>?/\|}{~:]','',aline)
              aline = aline.strip()
              #Remove stopwords
              aline = remove_stopwords(aline)
              #Convert to tokens
              words = word_tokenize(aline)
          
              #Create a dictionary for the index - the dictionary has the Root word(Stemming) as key and list of docIds as the value
              for w in words:
                if ps.stem(w) not in binary_term_dict:
                  list1=[docID]
                  binary_term_dict[ps.stem(w)]=(list1)
                else:
                  binary_term_dict[ps.stem(w)].append(docID)

          docID=docID+1              


  return binary_term_dict

In [ ]:
#storing the result of preprocessed function in a dictionary
binary_term_dict=dict()
binary_term_dict=preprocessing_indexing_for_binary()

In [ ]:
binary_term_dict['rinaldo']

[1, 416, 416, 515, 515]

In [ ]:
#Creating an empty matrix for binary term frequency weight
temp_test_zeros=np.zeros((len(token_dict),len(vocab_list_final)))
binary_term_frequency=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#populating the binary term frequency dictionary by either 0 or 1 with the help of pre-processed dictionary
for j in range(len(vocab_list_final)):
  temp_doc_list=binary_term_dict[vocab_list_final[j]]

  for i in range(len(temp_doc_list)):
    binary_term_frequency.at[temp_doc_list[i],vocab_list_final[j]]=1

In [ ]:
binary_term_frequency

,safehous,stabl,goodqual,accusatorili,motherwort,gossett,mcpherson,jimcatpanixcom,berth,slept,...,allmeat,ogron,argenziana,outfitphys,notappearinginthisfilm,hunner,rant,finnegan,alecmuksuncom,riccadonna
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1130,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
binary_term_frequency.to_csv('binary_term_frequency.csv')

In [ ]:
#Creating an empty matrix for storing the result of multiplication of binary term and the inverse document frequency
temp_test_zeros=np.zeros((len(binary_term_frequency),len(vocab_list_final)))
binary_term_multi=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#populating the new matrix using the multiplication of bianry term and document frequency at the respective term
for i in range(len(binary_term_frequency)):
  for j in range(len(vocab_list_final)):
    binary_term_multi.at[i,vocab_list_final[j]]=binary_term_frequency.at[i,vocab_list_final[j]]*inverse_document_frequency.at[0,vocab_list_final[j]]

In [ ]:
#taking row-wise sum as to take summation of all term-doc ID pair and getting the final score
sum_row_binary=binary_term_multi.sum(axis=1)
print(sum_row_binary)

0          0.000000
1        862.163245
2       1003.044651
3        812.792505
4        613.591028
           ...
1129    1900.185952
1130     734.823463
1131    1060.433018
1132     832.117602
1133     489.691416
Length: 1134, dtype: float64

In [ ]:
#storing the summation rsult in a dictionary with key as docID and sum of the repective row as the value
tf_idf_sum_using_binaryterm=dict()

for i in range(len(sum_row_binary)):
  tf_idf_sum_using_binaryterm[i]=sum_row_binary[i]

In [ ]:
#Getting the top five docs based on binary term values- getting the maximum and then removing that row- then getting the next maximum
top_five_docs_bin=[]
for i in range(5):
    maxval = max(tf_idf_sum_using_binaryterm.values())
    res = [(k, v) for k, v in tf_idf_sum_using_binaryterm.items() if v == maxval]
    del[tf_idf_sum_using_binaryterm[res[0][0]]]
    top_five_docs_bin.append(res)

if (len(top_five_docs_bin))>=5:
    print("Found the following top five documents ranked according to the Binary Term IDF Score :: ")
    print()
    for i in range(len(top_five_docs_bin)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_bin[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_bin[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")
else:
    print("Found the following top "+len(top_five_docs_bin)+" ranked documnets according to the Binary term IDF Score :: ")
    print()
    for i in range(len(top_five_docs_bin)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_bin[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_bin[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")

Found the following top five documents ranked according to the Binary Term IDF Score ::

details about the 1 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/mlverb.hum
TF IDF Score for respective doc using term frequency :: 31109.159692918016
--------------
details about the 2 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/acronyms.txt
TF IDF Score for respective doc using term frequency :: 29787.334611576873
--------------
details about the 3 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/humor9.txt
TF IDF Score for respective doc using term frequency :: 28758.770734606267
--------------
details about the 4 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/practica.txt
TF IDF Score for respective doc using term frequency :: 18388.77878042205
--------------
details about the 5 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/candy.txt
TF IDF Score for respective doc using term frequency :: 17247.334026895012
--------------

**Raw count**

In [ ]:
#Creating an empty matrix for raw count weight
temp_test_zeros=np.zeros((len(token_dict),len(vocab_list_final)))
raw_count_frequency=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#Populate the matrix with the raw count weight which is frequency of the token at that document
for i in range(len(raw_count_frequency)):
  for j in range(len(vocab_list_final)):
    token_list=token_dict[i+1]
    number_of_rep=token_list.count(vocab_list_final[j])
    raw_count_frequency.at[i,vocab_list_final[j]]=float(number_of_rep)

In [ ]:
raw_count_frequency

,shown,baizer,soyuz,elleri,lesssugari,vandriesen,organian,aidman,itt,convincingli,...,bland,outworld,syracus,secular,fad,tbgari,stale,clearwat,apertif,retic
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#convert to csv
raw_count_frequency.to_csv('raw_count_frequency.csv')

In [ ]:
import numpy as np
#Creating empty dataframe for raw count
temp_test_zeros=np.zeros((len(raw_count_frequency),len(vocab_list_final)))
raw_frequency_multi=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#Multiplying the raw count and IDF
for i in range(len(raw_count_frequency)):
  for j in range(len(vocab_list_final)):
    raw_frequency_multi.at[i,vocab_list_final[j]]=raw_count_frequency.at[i,vocab_list_final[j]]*inverse_document_frequency.at[0,vocab_list_final[j]]

In [ ]:
sum_row_raw=raw_frequency_multi.sum(axis=1)
print(sum_row_raw)

0       1031.994193
1       1334.940937
2        984.318458
3        911.468439
4       1481.263283
           ...
1128    2637.211554
1129     852.789316
1130    1781.000157
1131    1028.630095
1132     959.853826
Length: 1133, dtype: float64

In [ ]:
#Adding the values in a dictionary
tf_idf_sum_using_raw=dict()

for i in range(len(sum_row_raw)):
  tf_idf_sum_using_raw[i]=sum_row_raw[i]

In [ ]:
#Getting the top five documents based on best value- get the maximum value of rawcount*IDF and then remove that maximum to get the next max
top_five_docs_raw=[]
for i in range(5):
    maxval = max(tf_idf_sum_using_raw.values())
    res = [(k, v) for k, v in tf_idf_sum_using_raw.items() if v == maxval]
    del[tf_idf_sum_using_raw[res[0][0]]]
    top_five_docs_raw.append(res)

if (len(top_five_docs_raw))>=5:
    print("Found the following top five documents ranked according to the Raw Count-IDF Score :: ")
    print()
    for i in range(len(top_five_docs_raw)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_raw[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_raw[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")
else:
    print("Found the following top "+len(top_five_docs_raw)+" ranked documnets according to the Raw Count-IDF Score :: ")
    print()
    for i in range(len(top_five_docs_raw)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_raw[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_raw[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")

Found the following top five documents ranked according to the Raw Count-IDF Score ::

details about the 1 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/coke_fan.naz
TF IDF Score for respective doc using term frequency :: 171759.32459955753
--------------
details about the 2 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/cheapfar.hum
TF IDF Score for respective doc using term frequency :: 74894.9752849132
--------------
details about the 3 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/hum2
TF IDF Score for respective doc using term frequency :: 70124.51263909892
--------------
details about the 4 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/defectiv.hum
TF IDF Score for respective doc using term frequency :: 53157.55642046984
--------------
details about the 5 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/normal.boy
TF IDF Score for respective doc using term frequency :: 52231.975019970196
--------------

**Log normalization**

In [ ]:
#Creating empty dataframe for log normalization weight
temp_test_zeros=np.zeros((len(token_dict),len(vocab_list_final)))
log_normalization_frequency=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#Populating the log normalization matrix with values- log(1+f(t,d))
for i in range(len(log_normalization_frequency)):
  for j in range(len(vocab_list_final)):
    log_normalization_frequency.at[i,vocab_list_final[j]]=raw_count_frequency.at[i,vocab_list_final[j]]+1

In [ ]:
import math
for i in range(len(log_normalization_frequency)):
  for j in range(len(vocab_list_final)):
    log_normalization_frequency.at[i,vocab_list_final[j]]=math.log2(log_normalization_frequency.at[i,vocab_list_final[j]])

In [ ]:
log_normalization_frequency

,rbi,lancelot,sumprnofbno,timlmaxwellconcordiaca,leven,mindboggingli,trasfer,englishmen,rrriiiinnnnggggg,hater,...,countingwip,ewo,persimmon,restord,unenrich,andmor,meeno,uwmedu,hubcap,nuroam
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
log_normalization_frequency.to_csv('log_normalization_frequency.csv')

In [ ]:
#Creating empty dataframe for multiplication result of log normalization and IDF
temp_test_zeros=np.zeros((len(log_normalization_frequency),len(vocab_list_final)))
log_frequency_multi=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#multiplying log normalization weight and IDF
for i in range(len(log_normalization_frequency)):
  for j in range(len(vocab_list_final)):
    log_frequency_multi.at[i,vocab_list_final[j]]=log_normalization_frequency.at[i,vocab_list_final[j]]*inverse_document_frequency.at[0,vocab_list_final[j]]

In [ ]:
#values of log normalization wt* IDF
sum_row_log=log_frequency_multi.sum(axis=1)
print(sum_row_log)

0        949.838530
1       1153.067964
2        900.985506
3        726.239388
4       1161.392063
           ...
1128    2210.925945
1129     791.538318
1130    1314.837887
1131     924.479231
1132     679.489978
Length: 1133, dtype: float64

In [ ]:
#Storing the values in a dictionary
tf_idf_sum_using_log=dict()

for i in range(len(sum_row_log)):
  tf_idf_sum_using_log[i]=sum_row_log[i]

In [ ]:
sum_row_log

0        949.838530
1       1153.067964
2        900.985506
3        726.239388
4       1161.392063
           ...
1128    2210.925945
1129     791.538318
1130    1314.837887
1131     924.479231
1132     679.489978
Length: 1133, dtype: float64

In [ ]:
#Getting the top five values in the list
top_five_docs_log=[]
for i in range(5):
    maxval = max(tf_idf_sum_using_log.values())
    res = [(k, v) for k, v in tf_idf_sum_using_log.items() if v == maxval]
    del[tf_idf_sum_using_log[res[0][0]]]
    top_five_docs_log.append(res)

if (len(top_five_docs_log))>=5:
    print("Found the following top five documents ranked according to the Log Normalization-IDF Score :: ")
    print()
    for i in range(len(top_five_docs_log)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_log[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_log[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")
else:
    print("Found the following top "+len(top_five_docs_log)+" ranked documnets according to the Log Normalization-IDF Score :: ")
    print()
    for i in range(len(top_five_docs_log)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_log[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_log[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")

Found the following top five documents ranked according to the Log Normalization-IDF Score ::

details about the 1 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/cheapfar.hum
TF IDF Score for respective doc using term frequency :: 45061.078394946504
--------------
details about the 2 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/hum2
TF IDF Score for respective doc using term frequency :: 42049.40511170429
--------------
details about the 3 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/defectiv.hum
TF IDF Score for respective doc using term frequency :: 37954.4398696127
--------------
details about the 4 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/coke_fan.naz
TF IDF Score for respective doc using term frequency :: 32124.591938782523
--------------
details about the 5 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/normal.boy
TF IDF Score for respective doc using term frequency :: 27692.475674254278
--------------

**Double Normalization**

In [ ]:
#getting the maximum frequency of a token in doc and storing in a list
max_number_list=[]
for i in range(len(log_normalization_frequency)):
  temp_list=[]
  for j in range(len(vocab_list_final)):
    temp_list.append(raw_count_frequency.at[i,vocab_list_final[j]])
  
  maximum_number_in_list=max(temp_list)
  max_number_list.append(maximum_number_in_list)

In [ ]:
#Creating dataframe for double normalization weight
temp_test_zeros=np.zeros((len(token_dict),len(vocab_list_final)))
double_normalization_frequency=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#populating the matrix using- 0.5+0.5*(f(t,d)/ max(f(t‘,d))
for i in range(len(log_normalization_frequency)):
  for j in range(len(vocab_list_final)):
    double_normalization_frequency.at[i,vocab_list_final[j]]=(0.5+0.5*(raw_count_frequency.at[i,vocab_list_final[j]]/max_number_list[i]))

In [ ]:
double_normalization_frequency

,rbi,lancelot,sumprnofbno,timlmaxwellconcordiaca,leven,mindboggingli,trasfer,englishmen,rrriiiinnnnggggg,hater,...,countingwip,ewo,persimmon,restord,unenrich,andmor,meeno,uwmedu,hubcap,nuroam
0,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
1,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
2,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
3,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
4,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
1129,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
1130,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
1131,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
1132,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,...,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5

In [ ]:
#Convert to csv
double_normalization_frequency.to_csv('double_normalization_frequency.csv')

In [ ]:
#Creating dataframe for multiplication of double normalization weight and IDF
temp_test_zeros=np.zeros((len(double_normalization_frequency),len(vocab_list_final)))
double_frequency_multi=pd.DataFrame(data=temp_test_zeros,columns=vocab_list_final,dtype=float)

In [ ]:
#Populating the values of double normalization weight*IDF
for i in range(len(double_normalization_frequency)):
  for j in range(len(vocab_list_final)):
    double_frequency_multi.at[i,vocab_list_final[j]]=double_normalization_frequency.at[i,vocab_list_final[j]]*inverse_document_frequency.at[0,vocab_list_final[j]]

In [ ]:
#Getting the values
sum_row_double=double_frequency_multi.sum(axis=1)
print(sum_row_double)

0       763413.672939
1       763409.852435
2       763431.199840
3       763381.725746
4       763357.312111
            ...
1128    763406.503987
1129    763420.239078
1130    763382.154786
1131    763434.892476
1132    763386.090756
Length: 1133, dtype: float64

In [ ]:
#Storing the values in a dictionary
tf_idf_sum_using_double=dict()

for i in range(len(sum_row_double)):
  tf_idf_sum_using_double[i]=sum_row_double[i]

In [ ]:
#Getting the top five values of double normalization weight* IDF - getting the maximum then removing it to get the next maximum
top_five_docs_double=[]
for i in range(5):
    maxval = max(tf_idf_sum_using_double.values())
    res = [(k, v) for k, v in tf_idf_sum_using_double.items() if v == maxval]
    del[tf_idf_sum_using_double[res[0][0]]]
    top_five_docs_double.append(res)

if (len(top_five_docs_double))>=5:
    print("Found the following top five documents ranked according to the Log Normalization-IDF Score :: ")
    print()
    for i in range(len(top_five_docs_double)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_double[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_double[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")
else:
    print("Found the following top "+len(top_five_docs_double)+" ranked documnets according to the Log Normalization-IDF Score :: ")
    print()
    for i in range(len(top_five_docs_double)):
          rank=str(i+1)
          print("details about the "+rank+" ranked document is given as follows")
          print("name of the document is :: " + doc_docID_mapping[top_five_docs_double[i][0][0]])
          tf_idf_at_doc=str(top_five_docs_double[i][0][1])
          print("TF IDF Score for respective doc using term frequency :: "+tf_idf_at_doc)
          print("--------------")

Found the following top five documents ranked according to the Log Normalization-IDF Score ::

details about the 1 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/sungenu.hum
TF IDF Score for respective doc using term frequency :: 763734.8979325681
--------------
details about the 2 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/defectiv.hum
TF IDF Score for respective doc using term frequency :: 763694.3522392167
--------------
details about the 3 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/doc-says.txt
TF IDF Score for respective doc using term frequency :: 763694.047363293
--------------
details about the 4 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/phorse.hum
TF IDF Score for respective doc using term frequency :: 763687.3753000526
--------------
details about the 5 ranked document is given as follows
name of the document is :: /content/drive/MyDrive/Humor,Hist,Media,Food/cheapfar.hum
TF IDF Score for respective doc using term frequency :: 763674.8036287471
--------------